<h1>Olá, {{name}}</h1>

<p>
  O(a) {{author.name}} te convidou para participar da organização {{org.name}} na plataforma do {{app_name}}.
</p>

<p>
  Caso você já tenha uma conta, basta clicar no link abaixo para aceitar o convite.
</p>

<p>
  <a href="{{accept_invite_url}}">Aceitar convite</a>
</p>

<p>
  Se você não tem uma conta, clique no link abaixo para criar uma conta e aceitar o convite.
</p>

<p>
  <a href="{{create_account_accept_invite_url}}">Criar conta</a>
</p>

<p>
  Se não foi você, entre em contato para desativarmos a conta!
</p>

<p>
  Obrigado!
  <br />
  <strong>Equipe {{app_name}}</strong>
</p>