<h1>{{email_title}}</h1>

<p>Prezado(a) {{name}},</p>

<p>Gostaríamos de informar que uma nova propriedade foi recentemente cadastrada em sua conta, com você como o
  proprietário. Esta atualização permitirá que você gerencie e acompanhe essa propriedade com facilidade.</p>

<p>Aqui estão algumas informações importantes sobre a nova propriedade:</p>

<p><strong>Nome da Propriedade:</strong> {{property.name}}</p>
<p><strong>Descrição:</strong> {{property.description}}</p>

<p>Agora, você pode acessar sua conta e visualizar a nova propriedade na seção "Minhas Propriedades" ou em qualquer área
  dedicada ao gerenciamento de propriedades. Se você tiver alguma dúvida ou precisar de assistência adicional, não
  hesite em entrar em contato com nossa equipe de suporte. Estamos aqui para ajudar!</p>

<p>Agradecemos por confiar em nossos serviços para gerenciar suas propriedades. Esperamos que esta nova adição seja útil
  e conveniente para você.</p>

<p>Atenciosamente,</p>
<p>
  <strong>Equipe {{app_name}}</strong>
</p>